<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Livro</title>
    <link rel="stylesheet" href="/static/editar.css">
</head>
<body>
    <main>
        <div class="nome-pag">
            <h2>Biblioteca Virutal</h2>
        </div>
        <div class="titulo-btn">
            <h1>Editar livro</h1>
            <a href="{{ url_for('usuario2') }}" class="cancelar">Cancelar</a>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {%  for category, message in messages %}
                        <div class="flash {{ category }}">{{  message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form action="{{ url_for('editar', id=livro[0]) }}" method="POST" enctype="multipart/form-data">

            <label for="imagem">Imagem Capa do Livro:</label>
            <input type="file" id="imagem" name="imagem" accept=".jpg">

            <label for="nome">Título do livro:</label>
            <input type="text" id="nome" name="nome" value="{{ livro[1] }}">

            <label for="autor">Autor:</label>
            <input type="text" id="autor" name="autor" value="{{ livro[2] }}">

            <label for="ano_publicacao">Ano de publicação:</label>
            <input type="number" id="ano_publicacao" name="ano_publicacao" value="{{ livro[3] }}">

            <button type="submit" id="botao">Salvar</button>
        </form>
    </main>
</body>
</html>
