<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <title>Editar Usuário</title>
   <link rel="stylesheet" href="/static/editar_user.css">
</head>
<body>
   <form action="{{ url_for('editar_usuario', id=usuario[0]) }}" method="post">
       <label>Digite seu nome: </label>
       <input type='text' name="nome" id="nome">
       <label>Digite seu email: </label>
       <input type='email' name="email" id="email">
       <label>Digite sua senha: </label>
       <input type='password' name="senha" id="senha">
       <div>
            <button type="submit" class="btn">Enviar Informações</button>
       </div>
   </form>

</body>
</html>
