<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Novo Livro</title>
    <link rel="stylesheet" href="/static/novo.css">
</head>
<body>
    <main>
        <div class="nome-pag">
            <h2>📚 Biblioteca</h2>
        </div>
        <div class="titulo-btn">
            <h1>Adicionar livro</h1>
            <a href="{{ url_for('usuario2') }}" class="cancelar">Cancelar</a>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {%  for category, message in messages %}
                        <div class="flash {{ category }}">{{  message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}


        <form action="/criar" method="POST" enctype="multipart/form-data">

            <label for="imagem">Imagem Capa do Livro:</label>
            <input type="file" id="imagem" name="imagem" accept=".jpg">

            <label for="nome">Título do livro:</label>
            <input type="text" id="nome" name="nome" required placeholder="Ex.: Dom Casmurro">

            <label for="autor">Autor:</label>
            <input type="text" id="autor" name="autor" required placeholder="Ex.: Machado de Assis">

            <label for="ano_publicacao">Ano de publicação:</label>
            <input type="number" id="ano_publicacao" name="ano_publicacao" required placeholder="Ex.: 1899">

            <button type="submit" id="botao">Salvar</button>
        </form>
    </main>
</body>
</html>
